<section class="card login">
    <form name="myform" novalidate>

        <div class="textintro">
            <h1>Hi there!</h1>
            <p>Log-in to access the awesomeness!</p>
            <p class="message"></p>
        </div>
        <div class="emailbox">
        <input type="email" name="email" placeholder="Email" [(ngModel)] = "userEmail">
        <p class="error validationerror">
            Must be a valid email</p>
        </div>
        <div class="passwordbox">
        <input type="password" name="password" placeholder="Password" [(ngModel)] = "userPassword">
        <p class="error validationerror">
            Password is required</p>
        </div>

        <button type="button" class="btn" (click)="submitDetails()">Login</button>
        <p>or <a href="#/register">Register</a></p>
        <p style="display:'{{isValid}}'">{{message}}</p>
    </form>
</section>