<section class="card login">
    <form name="myform" novalidate>

        <div class="textintro">
            <h1>Hi there!</h1>
            <p>Log-in to access the awesomeness!</p>
            <p class="message"></p>
        </div>
        <input type="email" name="email" placeholder="Email">
        <p class="error validationerror">
            Must be a valid email</p>


        <input type="password" name="password" placeholder="Password">
        <p class="error validationerror">
            Password is required</p>

        <button type="submit" class="btn">Login</button>
        <p>or <a href="#/register">Register</a></p>
    </form>
</section>