h1{

    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-size: 500%;
    padding-top: 50px;
}

.homebutton
{

    width: 25px;
    heigth: 10px;
    background-color: #75ecf5;

}