<div style="text-align:center" class="rootbody">
    <p>
      We are <span>Location Registry Engineers</span>-South India's leading land survey consultants for the past one decade and more. We work with the latest technology and equipment in the field.

      Location Registry started in the year of 1994 with two partners who's in the survey field for more than 20 years . Since inception, 
      Location Registry Surveys is proved to be quite successful in bagging prestigious projects from our prestigious clients and we are able to complete 
kilometers in length which include National Highway, State Highway etc, Route Survey for Water supply and sewerage schemes, Topographic Survey etc.
and the property survey for the Flat Promoters and the Architects, which covered a huge Sq. Ft. With our work ethic combined with teamwork and trust,
 we are quite confident that we can continue to provide our services, which shall exceed our customer's expectations.
    </p>
    <a routerLink="/login">Login</a>
  <!-- <app-login></app-login> -->
  </div>